a {
  text-decoration: none;
}

p {
  margin: 0;
}

.m-10 {
  margin: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 10rem;
}

.tile-container {
  width: 24rem;
  height: 6rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px 20px 5px 5px;
  padding: 0.5rem;
  box-shadow: 0px 0px 6px -2px #808080;
}

.tile-image-container {
  width: 45%;
  height: 100%;
  margin-right: 5px;
}

.tile-inner-container {
  width: 55%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
}

.tile-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.title {
  color: black;
  font-weight: bold;
}

.subtitle {
  color: #9594F2;
  font-weight: bold;
  font-size: 12px;
}